<h1 class="h3 mb-2 text-gray-800">Trạng thái </h1>

<form>
    <div class="row">
        <div class="col-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm theo số điện thoại">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <select class="form-control">
                <option selected>Lọc theo trạng thái</option>
                <option>Chờ xác nhận</option>
                <option>Chờ lấy hàng</option>
                <option>Đang giao</option>
                <option>Thành công </option>
                <option>Hủy</option>
            </select>
        </div>

    </div>
</form>
<div class="card shadow mb-4" style="margin-top: 15px;">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-dark">Danh sách đơn hàng</h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a class="text-decoration-none" routerLink='/detail-order'>NS8292929</a></td>
                        <td>Nguyen Sy Manh</td>
                        <td>03344934393</td>
                        <td>Thanh Hóa</td>
                        <td><span class="badge badge-danger">Đang chờ</span></td>
                        <td>2.000.000 vnđ</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>