<div class="grid align__item">
    <div class="register">
        <div class="logo">
            <img src="./../../../assets/dhm_logo.png" width="200" alt="">
        </div>
        <h2>Log in</h2>
        <form action="" method="post" class="form">
            <div class="form__field">
                <input type="text" placeholder="User Name">
            </div>
            <div class="form__field">
                <input type="password" placeholder="Password">
            </div>
            <div class="form__field">
                <input type="submit" value="Log in">
            </div>
        </form>
    </div>
</div>