<section>
    <div class="container">
        <div class="row">
            <div class="about">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Danh mục</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Dior</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Versace</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Gucci</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Chanel</a></h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Louis Vuitton</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Dolce & gabbana</a></h4>
                                </div>
                            </div>

                        </div>
                        <!--/category-products-->

                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="../../../assets/images/1.png" alt="" />
                        </div>
                        <!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Sản phẩm</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="../../../assets/images/product/dior_9.jpg" alt="" />
                                        <h2>1.999.999 vnđ</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <!-- <a href="#" class="btn-default add-to-cart"><i
                                                class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a> -->
                                        <button class="btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                            giỏ
                                            hàng</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>