<div class="container">
    <div class="check">
        <h1>Giỏ hàng</h1>
        <p style="color: rgb(255, 47, 47);">Giá có thể thay đổi dựa trên giá có hiệu lực vào ngày thanh toán</p>
        <hr />
        <div class="row">
            <div class="col">
                <table class="table table-borderd table-striped" style="font-size: 14px">
                    <thead>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>#</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img src="../../../assets/images/product/dior_1.jpg" width="100" alt="" />
                            </td>
                            <td>PURPLE COTTON JERSEY</td>
                            <td class="text-right">899.000 đ</td>
                            <td class="text-right">1</td>
                            <td class="text-right">899.000 đ</td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>&nbsp;Xóa
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img src="../../../assets/images/product/dior_2.jpg" width="100" alt="" />
                            </td>
                            <td>PURPLE COTTON JERSEY</td>
                            <td class="text-right">899.000 đ</td>
                            <td class="text-right">1</td>
                            <td class="text-right">899.000 đ</td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>&nbsp;Xóa
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>