<div class="container">
    <div class="check">
        <h1>Giỏ hàng</h1>
        <p style="color: rgb(255, 47, 47);">Giá có thể thay đổi dựa trên giá có hiệu lực vào ngày thanh toán</p>
        <hr />
        <div class="row">
            <div class="col">
                <table class="table table-borderd table-striped" style="font-size: 14px">
                    <thead>
                        <th scope="col" style="width: 100px;">STT</th>
                        <th scope="col" style="width: 250px;">Ảnh</th>
                        <th scope="col" style="width: 400px;">Tên sản phẩm</th>
                        <th scope="col" style="width: 150px;">Size</th>
                        <th scope="col" style="width: 250px;">Giá</th>
                        <th scope="col" style="width: 300px;">Số lượng</th>
                        <th scope="col" style="width: 250px;">Thành tiền</th>
                        <th scope="col" style="width: 150px;">#</th>
                    </thead>
                    <tbody *ngFor="let item of listDataCart; let index = index">
                        <tr>
                            <td>{{index+1}}</td>
                            <td>
                                <img src="{{item.image}}" width="100" alt="" />
                            </td>
                            <td>{{item.nameproduct}}</td>
                            <td>{{item.size}}</td>
                            <td>{{item.price | number}} <sup>₫</sup></td>
                            <td>
                                <div class="buttons_added">
                                    <input class="minus is-form" (click)="decrementQuantity(item)" type="button"
                                        value="-">
                                    <input aria-label="quantity" class="input-qty" min="1" value="{{item.quantity}}"
                                        disabled name="" type="number">
                                    <input class="plus is-form" (click)="incrementQuantity(item)" type="button"
                                        value="+">
                                </div>

                            </td>
                            <td>{{item.price * item.quantity | number}} <sup>₫</sup></td>
                            <td>
                                <button class="btn btn-danger" (click)="delete(item)">
                                    Xóa
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-75">
            <div class="container_cart">
                <form id="validate" action="/action_page.php" [formGroup]="inputForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-50">
                                <h3>Thông tin khách hàng</h3>
                                <div class="form-group">
                                    <label ><i class="fa fa-user"></i>Họ và tên</label>
                                    <input class="inp_checkout form-control" type="text" name="fullname"
                                        formControlName="hoten">
                                </div>
                                <div class="form-group">
                                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                    <input class="inp_checkout form-control" type="text" name="email"
                                        formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="adr"><i class="fa fa-map-marker"></i> Địa chỉ</label>
                                    <input class="inp_checkout form-control" type="text" name="address"
                                        formControlName="addr">
                                </div>
                                <div class="form-group">
                                    <label for="phone"><i class="fa fa-phone"></i> Số điện thoại</label>
                                    <input class="inp_checkout form-control" type="text" formControlName="phone">
                                </div>
                            </div>
                        </div>
                        <label class="form-group">
                            <label for="payment"><i class="fa fa-credit-card"></i> Thanh toán</label>
                            <div>
                                <input name="type"  type="radio" value="0"  formControlName="type" /> Thanh toán khi
                                nhận hàng <br>
                                <input name="type" type="radio" value="1" formControlName="type" /> Thanh toán qua chuyển
                                khoản
                            </div>
                        </label>
                        <input type="submit" value="Đặt hàng" class="btn_cart" (click)="buyNow()">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-25">
            <div class="container_cart">
                <h4>Tóm tắt đơn hàng <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i>
                        <b></b></span>
                </h4>
                <div *ngFor="let item of cartItem" class="d-flex">
                    <p>
                        <a>{{item.nameproduct}}</a> <span class="price">{{item.price * item.quantity | number}}
                            <sup>₫</sup></span>
                    </p>
                </div>
                <hr>
                <p>Tổng: <span class="price" style="color:black"><b>{{totalPrice | number}} <sup>₫</sup></b></span></p>
            </div>
            <hr />
        </div>
    </div>
</div>

<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus
            magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec
            ullamcorper nulla non metus auctor fringilla.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</ng-template> -->
