<section>
    <div class="product_details variable_product mt-30">
        <div class="container" *ngFor="let item of productDetail">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="layout_img product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{item.product.image}}" alt="big-1" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">
                            <h1>{{item.product.nameproduct}}</h1>
                            <div class="product_ratting">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="price_box">
                                <span class="old_price">999.999.999<sup>₫</sup></span>
                                <span class="current_price">{{item.product.price | number}}<sup>₫</sup></span><br />

                            </div>
                            <div class="product_desc">
                                <p>
                                    The purple terry cotton T-shirt pays tribute to the emblematic Dior Oblique motif
                                    with a tonal jacquard. The contrasting
                                    round ribbed neckline presents a V-topstitching detail for a relaxed effect. The
                                    oversized silhouette may be paired with
                                    jeans or track pants for an elevated look.
                                </p>
                            </div>
                            <div class="product_variant quantity">
                                <label>Màu </label>
                                <a type="submit" class="color">{{item.color.namecolor}}</a>
                            </div>
                            <div class="product_variant quantity">
                                <label>Size </label>
                                <a type="submit" class="size">{{item.size.namesize}}</a>
                            </div>
                            <div class="product_variant quantity">
                                <label>Số lượng </label>&nbsp;
                                <input min="1" max="100" type="number" />
                            </div>
                        </form>
                        <button class="button " type="submit" (click)="addToCart(item.product)">
                            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Thêm giỏ hàng</button>
                        <!-- <div class="product_d_meta">
                            <span>Thương hiệu: <a href="#"></a></span>
                        </div> -->
                        <div class="priduct_social" style="margin-left: 10px">
                            <ul>
                                <li>
                                    <a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
                                        Like</a>
                                </li>
                                <li>
                                    <a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                                </li>
                                <li>
                                    <a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i>
                                        save</a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
                                        share</a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i>
                                        linked</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>