<section>
    <div class="product_details variable_product mt-30">
        <div class="container" *ngFor="let item of productDetail">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="layout_img product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{item.product.image}}" alt="big-1" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">
                            <h1>{{item.product.nameproduct}}</h1>
                            <div class="product_ratting">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="price_box">
                                <span class="current_price">{{item.product.price | number}} vnđ</span><br />
                                <span class="old_price">999.999.999 vnđ</span>
                            </div>
                            <div class="product_desc">
                                <p>
                                    The purple terry cotton T-shirt pays tribute to the emblematic Dior Oblique motif
                                    with a tonal jacquard. The contrasting
                                    round ribbed neckline presents a V-topstitching detail for a relaxed effect. The
                                    oversized silhouette may be paired with
                                    jeans or track pants for an elevated look.
                                </p>
                            </div>

                            <div class="product_variant quantity">
                                <label>Số lượng :</label>
                                <input min="1" max="100" value="{{item.quantity}}" type="number" disabled />
                                &nbsp;&nbsp;&nbsp;
                                <label>Màu : </label>
                                <span>{{item.color.namecolor}}</span>
                                &nbsp;&nbsp;&nbsp;
                                <label>Size : </label>
                                <span>{{item.size.namesize}}</span>
                            </div>
                        </form>
                        <button class="button" type="submit" (click)="addToCart(item.product)">Thêm giỏ hàng</button>
                        <div class="product_d_meta">
                            <span>Thương hiệu: <a href="#"></a></span>
                            <!-- <span
                  >Tags:
                  <a href="#">Creams</a>
                  <a href="#">Lotions</a>
                </span> -->
                        </div>
                        <div class="priduct_social" style="margin-left: 10px">
                            <ul>
                                <li>
                                    <a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
                                        Like</a>
                                </li>
                                <li>
                                    <a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                                </li>
                                <li>
                                    <a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i>
                                        save</a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
                                        share</a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i>
                                        linked</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>