.color{
    border-style: ridge;
    width: 50px;
    text-align: center;
    margin-left:20px ;
    border-radius: 2px;
}
a:active{
    border-color: red;
}
.size{
    border-style: ridge;
    width: 50px;
    text-align: center;
    margin-left:23px ;
    border-radius: 2px;
}

