.color{
    border-style: solid;
    width: 50px;
    text-align: center;
    margin-left:20px ;
    border-radius: 2px;
}
.size:active{
    color:#ff3e3e;
    ;
}
.size{
    border-style: solid;
    width: 30px;
    text-align: center;
    margin-left:20px ;
    border-radius: 20px;
<<<<<<< HEAD
    cursor: pointer;
}
=======
}
>>>>>>> duong
