<div class="container pb-5">
    <h2 class="title text-center">Đơn Mua</h2>

    <input class="dn" type="radio" name="tab" id="tab-1" checked>
    <input class="dn" type="radio" name="tab" id="tab-2">
    <input class="dn" type="radio" name="tab" id="tab-3">
    <input class="dn" type="radio" name="tab" id="tab-4">
    <input class="dn" type="radio" name="tab" id="tab-5">
    <input class="dn" type="radio" name="tab" id="tab-6">

    <div class="tabs-wrapper">
        <label for="tab-1" class="label-tab-1"> Tất cả</label>
        <label for="tab-2" class="label-tab-2"> Chờ xác nhận </label>
        <label for="tab-3" class="label-tab-3">Chờ lấy hàng</label>
        <label for="tab-4" class="label-tab-4"> Đang giao</label>
        <label for="tab-5" class="label-tab-5">Thành công</label>
        <label for="tab-6" class="label-tab-6">Đã hủy</label>
    </div>

    <div class="tab tab-1">
        <div class="col-md-12 d-flex" *ngFor="let item of listOrder">
          <div class="col-md-1">
            <img style="width: 30px; height: 30px" src="{{item.productDetail.product.image}}"/>
          </div>
          <div class="col-md-3">
            {{item.productDetail.product.nameproduct}}
          </div>
          <div class="col-md-2">
            {{item.productDetail.product.price | number}} vnđ
          </div>
          <div class="col-md-1">
            {{item.productDetail.size.namesize}}
          </div>
          <div class="col-md-2">
            {{item.quantity}}
          </div>
          <div class="col-md-2">
            {{item.quantity * item.productDetail.product.price | number}} vnđ
          </div>
        </div>
    </div>
    <div class="tab tab-2">
        <p>Duong</p>
    </div>
    <div class="tab tab-3">
        <p>Hai</p>
    </div>
    <div class="tab tab-4">
        <p>Minh</p>
    </div>
    <div class="tab tab-5">
        <p>Ok</p>
    </div>
    <div class="tab tab-6">
        <p>Alo</p>
    </div>
</div>
