<h1 class="h3 mb-2 text-gray-800">Chi tiết đơn hàng</h1>
<mat-horizontal-stepper class="card shadow mb-4">
    <mat-step label="Chờ xác nhận" state="cf">
    </mat-step>
    <mat-step label="Chờ lấy hàng" state="card">
    </mat-step>
    <mat-step label="Đang giao" state="local">
    </mat-step>
    <mat-step label="Thành công" state="succs">
    </mat-step>
    <mat-step label="Hủy" state="del">
    </mat-step>

    <ng-template matStepperIcon="cf">
        <mat-icon>confirmation_number</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="card">
        <mat-icon>card_giftcard</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="local">
        <mat-icon> local_shipping</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="succs">
        <mat-icon>check</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="del">
        <mat-icon>delete_forever</mat-icon>
    </ng-template>

</mat-horizontal-stepper>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow mb-4 mt-15">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-dark">Thông tin đơn hàng: <span>NS8292929</span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Size</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SIGNATURE-PINK</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm qty-inp"
                                                placeholder="">
                                        </td>
                                        <td>2.000.000đ</td>
                                        <td>
                                            <select class="form-control form-control-sm">
                                                <option>S</option>
                                                <option>M</option>
                                                <option>L</option>
                                                <option>XL</option>
                                            </select>
                                        </td>
                                        <td>2.000.000đ</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-5"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <p>Tổng tiền: </p>
                                        <p>Đã thanh toán: </p>
                                        <p>Chưa thanh toán: </p>
                                    </div>
                                </div>
                                <div class="col-6 text-end">
                                    <p>2.000.000đ</p>
                                    <p>0đ</p>
                                    <p>0đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-15">
                <div class="card">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-dark">Thông tin khách hàng</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên khách hàng</label>
                            <input type="text" class="form-control" disabled value="Nguyen Sy Manh" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại</label>
                            <input type="text" class="form-control" disabled value="03344934393" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" disabled value="manh15@gmail.com" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Địa chỉ</label>
                            <input type="text" class="form-control" disabled value="Thanh Hóa" />
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                disabled checked>
                            <label class="custom-control-label" for="customRadio1">Thanh toán khi nhận hàng</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                disabled>
                            <label class="custom-control-label" for="customRadio2">Thanh toán qua chuyển khoản</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="form-group pt-2">
    <button type="submit" class="btn btn-primary btn-sm">Cập nhập</button>&nbsp;
    <button type="submit" class="btn btn-danger btn-sm">Hủy</button>
</div>