<h1 class="h3 mb-2 text-gray-800">Sản phẩm</h1>
<a routerLink="/add-product"><button class="btn btn-dark">Thêm sản phẩm</button></a>
<div class="card shadow mb-4" style="margin-top: 15px;">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-dark">Danh sách sản phẩm</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listProduct">
                        <td>{{item.nameproduct}}</td>
                        <td><img src="{{item.image}}" width="80" alt=""></td>
                        <td>{{item.price | number}} vnđ</td>
                        <td>{{item.status}}</td>
                        <td>{{item.createdate}}</td>
                        <td>
                            <div class="btn-option">
                                <a routerLink="/edit-product">
                                    <button class="btn btn-dark btn-sm" type="button">
                                        <i class="fas fa-edit"></i></button></a>
                                &nbsp;
                                <button class="btn btn-danger btn-sm" type="button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>