<h1 class="h3 mb-2 text-gray-800">Đơn hàng đang chờ </h1>

<div class="card shadow mb-4" style="margin-top: 15px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Danh sách đơn hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Ngày tạo</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NS8292929</td>
                        <td>EASY POLO BLACK EDITION</td>
                        <td>1</td>
                        <td>1.999.000 vnđ</td>
                        <td>2021/01/26</td>
                        <td>
                            <button class="btn btn-dark btn-sm" type="button">
                                <i class="fas fa-edit"></i></button>
                            &nbsp;
                            <button class="btn btn-danger btn-sm" type="button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>